# Node modules
node_modules/

# Cypress videos and screenshots
cypress/videos/
cypress/screenshots/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Cypress cache
.cypress/
node_modules/
allure-results/
allure-report/
cypress/videos/
cypress/screenshots/
